
*{
margin:0;
padding:0;

}

body{
	background:#e6e6e6
}

header,.main, footer{
	
	width:90%;
	max-width:1000px;
	margin:20px auto;

}



header nav{

	background:#528FD5;
	overflow: hidden;
}

header nav ul{
	list-style: none;
}

header nav ul li {

	float: left;
}

header nav ul li a{
padding: 10px 20px;
display: block;
color: #fff;
text-decoration:none;
}

header nav ul li a:hover{
	background: #75ACEC;

}



.main .articles{
	width: 70%;
	margin-right: 1.5%;
	float: left;
	word-wrap: break-word;
	
}

.main .articles article{
	padding: 20px;
	background: #888;
	margin-bottom: 20px;
}

aside {
	width: 28.5%;
	background:#ff8000;
	float: left;
	padding: 20px;
	box-sizing: border-box;
	word-wrap: break-word;

}

footer{
	background: #000;
	color:#fff;
	clear:both;
	padding: 10px 0px;
	text-align: center;
}

